doctype html
head
    // this is the source code
    // the page looks much nicer in a browser than in vim, just saying
    meta(charset="utf-8")
    title CMU Rowing Crew
    meta(name="description" content="The web site for the Carnegie Mellon University Rowing Crew.")
    meta(name="viewport" content="initial-scale=1")
    meta(name="author" content="Oscar Bezi, webmaster@tartancrew.org")
    link(href="imgs/favicon.ico" rel="shortcut icon")
    // CSS
    link(rel="stylesheet" href="css/main.css")
body
    #header
        img.cmu-logo(src="imgs/cmu/horizontal/white.png")
        p.title Club Rowing
    #nav-bar
        ul
            li: a.active#about-link About
            li: a#recruiting-link Recruiting
            li: a#rowers-link Rowers
            li: a#rent-a-rower-link Rent-a-Rower
            li: a#donate-link Donate
            li: a#staff-link Staff
    #content
        #about.active
            p Ever since our founding in 1987, Carnegie Mellon Club Rowing has represented CMU's contribution to the world's best sport, rowing.  Aren't we just fantastic?
            h2 Upcoming Events
            for event, i in events
                .event
                    h3.event-title=event.title
                    p.event-description=event.description

        #recruiting
            h2 Interested in Rowing?
            p It doesn't matter whether you're an undergraduate or graduate student, there's always space on our team for a new member. We structure our novice programs to teach towards any athletic fitness, and any background.

        #rowers
            .announcements
                h2 Announcements
                ul
                    for announcement, i in announcements
                        li.announcement
                            h3.announcement-title=announcement.title
                            p.announcement-description=announcement.description
                    else
                        li: h3 No annoucements.
            .rosters
                h2 Rosters
                #varsity-roster
                    table
                        tbody
                            tr.title
                                th(colspan="3") Varsity Crew
                            tr
                                th Name
                                th Year
                                th Major
                            each member in current_varsity
                                tr
                                    td= member.name
                                    td= member.year
                                    td= member.major
                            tr
                            tr.title
                                th(colspan="3").title Novice Crew
                            tr
                                th Name
                                th Year
                                th Major
                            each member in current_novice
                                tr
                                    td= member.name
                                    td= member.year
                                    td= member.major

        #rent-a-rower


        #donate
            There should be some link to donate here.

        #staff
            p The rowing crew is run by the hard work of our coaches, who may or may not get bios?

            p Also, we have a board.  Here they are:

    // javascript for navigation and other shenanigans
    script(src="js/app.js")
