extends base
block content
    +navbar("Events")
    .container.content
        .row
            .col-lg-12
                h2 Events
        for event, i in events
            if (i % 2 == 0)
                <row>
                .col-lg-6(id=event.id)
                    h3.event-title=event.title
                    p.event-description=event.description
                    != event.long_description
            else
                .col-lg-6(id=event.id)
                    h3.event-title=event.title
                    p.event-description=event.description
                    != event.long_description
                </row>


        else
            .col-lg-12
                p Looks like there's no events coming up.
