extends base
block content
    +navbar("Rowers")
    .container.content
        .row
            .col-lg-4.col-lg-offset-4
                h1 Current Rowers
                p Relevant documents, workouts, and other fun things.
    .container.content
        hr
        .row
            .col-lg-4
                h2 Important Links
                ul.list-group
                    li.list-group-item
                        a(href="https://www.facebook.com/groups/163652207075632/") Official Facebook Group
                    li.list-group-item
                        a(href="https://www.facebook.com/download/655369461171690/Weekly%20Workouts-2-10_2-15.xlsx") This Week's Workouts

            .col-lg-4
                h2 Announcements
                ul.list-group
                    li.list-group-item
                        h4.list-group-item-heading Unis have been ordered! (I think?)
                        p.list-group-item-text Loljk.  Need a new announcement. :(
                    li.list-group-item
                        h4.list-group-item-heading Confirming Upcoming Race
                        p.list-group-item-text If you cannot make the erg races on 
                            b Saturday, February 22
                            | , make sure to email Dan by 
                            b this Thursday, February 13
                            | .

            .col-lg-4
                h2 Upcoming Events
                ul.list-group
                    li.list-group-item
                        h4.list-group-item-heading Saturday, 15 February 2014
                        p.list-group-item-text 2k test.  Be there or be square.
                        
                    li.list-group-item
                        h4.list-group-item-heading Saturday, 22 February 2014
                        p.list-group-item-text Erg races. . . somewhere.  Ohio?

                    li.list-group-item
                        h4.list-group-item-heading Friday, 7 March 2014
                        p.list-group-item-text Camp Bob!  GET EXCITED

        hr
        .row
            .col-lg-12
                h2 Roster
                p Varsity Crew
                table.well.table.table-bordered.table-striped
                    thead
                        tr
                            th Name
                            th Year
                            th Major
                    tbody
                        each member in current_varsity
                            tr
                                td= member.name
                                td= member.year
                                td= member.major
                    
                p Novice Crew
                table.well.table.table-bordered.table-striped
                    thead
                        tr
                            th Name
                            th Year
                            th Major
                    tbody
                        each member in current_novice
                            tr
                                td= member.name
                                td= member.year
                                td= member.major
